.showroom-large {
  position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

#ytplayer {
  opacity: 0;
  height: 100%;
  &.fadeIn {
		-webkit-animation: fadeIn 1s;
  	animation: fadeIn 1s;
  	opacity: 1;
  }
}

#ytplaceholder {
  width: 100%;
  height: 100%;
  background-color: @mt_color;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#ytplayerSurface {
	background-color: fade(@mt_color, 10%);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 20;
}
